.logo-size {
  display: inline-block;
  max-width: 20%;
  height: auto;
}

.start_game {
    float: right;
    padding-right: 200px;
}

#new_game, html {
  background-image: url("http://static.squarespace.com/static/5262b425e4b04c04f40cd6e6/t/5262fb22e4b0bb6d9c2d260a/1382218530727/Coffee-Beans.jpg");
  margin: auto;
  position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}


