.logo-size {
  display: inline-block;
  max-width: 150px;
  max-height: 150px;
}

.start_game {
    float: right;
    padding-right: 200px;
}

#new_game, body {
  background-image: url("https://raw.githubusercontent.com/teamCoffeeRoulette/coffee_roulette/dev/public/img/Coffee-Beans_wash.jpg");
  margin: auto;
  position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background: none;
  border-radius: 25px;
}

.jumbotron-add {
  padding: 50px 100px 50px 50px; 
  display: block; 
  width: 50%; 
  margin: auto
}

.navbar-brand {
  padding-top: 5px !important; 
  padding-bottom: 0 !important;
  height:  30px;
}

.bigger-font {
  font-size: 18;

}

.middleplease {
  display: flex;
  justify-content: center;
  align-items: center;
}
