.logo-size {
  display: inline-block;
  max-width: 20%;
  height: auto;
}

.start_game {
    float: right;
    padding-right: 200px;
}

#new_game, body {
  background-image: url("https://raw.githubusercontent.com/teamCoffeeRoulette/coffee_roulette/dev/public/img/Coffee-Beans_wash.jpg");
  margin: auto;
  position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background: none;
}
