<div class="main_header">
<h1> Your CoffeeRoulette Game Roster:</h1>
</div>

<div class="jumbotron jumbotron-display-names">
  <ul>
  <%  get_game_participants_as_array.each do |player| %>
    <%="<li>" +  player.display_name + " - " + player.drink"</li>" %>
  <% end %> 
  </ul>
</div>

<div class="start_game">
  <a href=<%= "/games/complete/#{session[:game_id]}" %>><button   type="button" class="btn btn-warning btn-lg btn-block">Start the Game!</button></a>
  <a href="/games/new"><button type="button" href="/games/new" class="btn btn-default btn-sm btn-block">Go back</button></a>
</div>


