<div class="main_header">
<h1> Roulette Game </h1>
</div>

<ul>
<%  get_game_participants_as_array.each do |player| %>
  <%="<li>" +  player.display_name + "</li>" %>
<% end %> 
</ul>

<div class="start_game">
  <button type="button" class="btn btn-primary btn-lg btn-block">Start the COFFEEROULETTE!</button>
  <button type="button" class="btn btn-default btn-lg btn-block">Go back</button>
</div>

