<div class="main-header">
  <h1> Time to get that coffee </h1>
</div>

<div class="jumbotron jumbotron-fetch">
  <button class="btn btn-winner">
    Looks like <%= get_coffee_getter_name %> is getting the coffee! 
  </button>
    <ul>
      <%  get_game_participants_as_array.each do |player| %>
        <%="<li>" + player.display_name + " - " + player.drink + "</li>" %>
      <% end %> 
    </ul>
</div>

<div>
<%= "You wanted to go outside anyway, right " + get_coffee_getter_name %> 
</div>
