<div class="main-header">
<h1> Purchase List </h1>

<div>
  <h3> Looks like <%= get_coffee_getter.display_name %> is getting the coffee! </h3>
</div>

<ul>
<%  get_game_participants_as_array.each do |player| %>
  <%="<li>" + player.display_name + " - " + player.drink + "</li>" %>
<% end %> 
</ul>