<div class="main_header">
<body id="new_game">
<h1> Start up a new game </h1>
</div>

</body>
<form method="POST" action="/games/new">
  <label for="user_list">Enter users to play:</label>
  <input name="user_list" placeholder="Jason, Peter, Jairus..." type="text" />
  <input value="Create game!" type="submit" />
  <input value="send_message" type="checkbox" />
</form>

