<h1>CREATE ACCOUNT</h1>

<form method="POST" action="/users/new">
  <lable for="email">Email</label>
  <input name="email" type="text" />

  <label for="display_name">User Name</label>
  <input name="display_name" type="text" />

  <label for="phone_number">Phone Number:</label>
  <input name="phone_number" type="tel" />

  <label for="password">Password:</label>
  <input name="password" type="password" />

  <input value="Create Account" type="submit" />
</form>
