<h1>Home Page</h1>
<div id="greeting">
  <%= "Hello " + get_current_name %>
</div>
<p><a href="/login">Login</a></p>
<p><a href="/logout">Logout</a></p>

<p><a href="/profile/edit">Edit your Profile</a></p>