<h1 class="middleplease">Login to CoffeeRoulette!</h1>

<div class="jumbotron jumbotron-add bigger-font">
  <form method="POST" action="/login">
    <label for="email">User Email:</label>
    <input name="email" type="text" /></br>

    <label for="password">Password:</label>
    <input name="password" type="password" /></br>

    <input value="Login" type="submit" href="/users/new"/></br>
    <p>New to CoffeeRoulette? Click below to</p>
    <a href="/users/new">Create a New User/a>
</form>
</div>
