<h1>Login to CoffeeRoulette!</h1>

<div class="jumbotron bigger-font">
  <form method="POST" action="/login">
    <label for="email">User Email:</label>
    <input name="email" type="text" />

    <label for="password">Password:</label>
    <input name="password" type="password" />

    <input value="Login" type="submit" />

    <a href="/users/new">Create Account</a>
</form>
</div>
