<h1>LOGIN</h1>

<form method="POST" action="/login">
  <label for="email">User Name</label>
  <input name="email" type="text" />

  <label for="password">Password:</label>
  <input name="password" type="password" />

  <input value="Login" type="submit" />

  <a href="/users/new">Create Account</a>
</form>
