<div class="main_header">
<h1> Coffee Roulette </h1>
</div>
<hr/>
<div class="user_display">
  <p> 
    <%= "Hello " + get_current_name %>
  </p>
</div >
<div class="login_logout" width=>
  <p>
    <button type="button" class="btn btn-primary btn-lg btn-block" style="display: block; width: 40%;">
      <%= get_login_or_logout %>
    </button>
  </p>
</div>
<div class="sub_header">
</div>
<a href="/games/new"><button type="button" class="btn btn-default btn-lg btn-block" style="display: block; width: 40%;">New Game</button></a>

<div class="sub_header"></div>
<a href="/profile/edit">Edit your Profile</a>

