<div class="main_header">
<h1> Coffee Roulette </h1>
</div>
<hr/>
<div class="user_display">
  <p> 
    <%= "Hello " + get_current_name %>
  </p>
</div>
<div class="login_logout">
  <p>
    <%= get_login_or_logout %>
  </p>
</div>
<div class="sub_header">
<h2> Start a new game! </h2>
</div>
<a href="/games/new">New Game</a>

<div class="sub_header">
<h2> Edit your profile </h2>
</div>
<a href="/profile/edit">Edit</a>
