<div class="main_header">
<h3 style="display: block; margin 0, auto; color: white"> <%= "Pssst! You're logged in as " + get_current_name %> </h3>
</div>

<p>
<p>
<div class="jumbotron jumbotron-add">
  <h1><%= "Hello, " + get_current_name %></h1>
  <p>Welcome to CoffeeRoulette! Round up some friends who *don't* want to go for their own coffee.... And let's get started! </p>
  <p><a class="btn btn-primary btn-lg" href="/games/new" role="button">Start A New CoffeeRoulette</a></p>
</div>

</br>
</br>
</br>

<div class="container jumbotron jumbotron-table">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="middleplease"> 
          Your CoffeeRoutlette Results 
        </h2>
      </div>
      <table class="table table-fixed">
        <thead>
          <tr>
            <th>Game #</th><th>Outcome</th>
          </tr>
        </thead>
        <tbody>
          <% results_table.each do |result| %> 
            <tr>
             <td><%= result.game_id %></td>
             <td><%= result.result ? "Legend. You went for the coffee!" : "High five! You didn't have to go for coffee"%></td> 
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>