<div class="main_header">
<h1 style="display: block; margin 0, auto"> <%= "Hello " + get_current_name %> </h1>
</div>
<hr/>
<div class="user_display" style="height:100px; margin:0, auto">
</div >
<div class="login_logout" style="width:1000px; margin:0 auto;">
  <p>
    <button type="button" class="btn btn-primary btn-lg btn-block" style="display: block; width: 40%; margin: auto" >
      <%= get_login_or_logout %>
    </button>
  </p>
</div>
<div class="sub_header" style="width:1000px; margin:0 auto;">
  <a href="/games/new"><button type="button" class="btn btn-default btn-lg btn-block" style="display: block; width: 40%; margin: auto">New Game</button></a>
</div>


