<h2>Edit Profile</h2>

<br/>

<form method="POST" action="/profile/edit">
  <label for="email">Email: </label>
  <input name="email" value="<%= @user.email %>" />

  <label for="display_name">User Name</label>
  <input name="display_name" value="<%= @user.display_name %>" />

  <label for="phone_number">Phone Number:</label>
  <input name="phone_number" value="<%= @user.phone_number %>" />

  <label for="password">Password:</label>
  <input name="password" value="<%= @user.password %>" />

  <input value="Create Account" type="submit" />
</form>


