<h1 class="display-3 middleplease"> User Profile </h1>

<div class="jumbotron jumbotron-add bigger-font">
  <h3>Logged in as : <%= get_current_user.display_name %></h3>
  <ul>
    <li><h2>Email: <%= get_current_user.email %></h2></li>
    <li><h2>Ph: <%= get_current_user.get_formatted_phone_number %></h2></li>
    <li><h2>Default Coffee Order: <%= get_current_user.drink %></h2></li>
  </ul>
</div>

<p class= "middleplease"><a href="/profile/edit">Edit your Profile again</a></p> 
<p class= "middleplease"><a href="/">Return to the main page</a></p>
