<h1 class="middleplease"> User Profile </h1>

<div class="jumbotron jumbotron-add bigger-font">
  <h3>Logged in as : <%= @user.display_name %></h3>
  <ul>
    <li><h2>Email: <%= @user.email %></h2></li>
    <li><h2>Ph: <%= @user.phone_number %></h2></li>
    <li><h2>Default Coffee Order: <%= @user.drink %></h2></li>
  </ul>
</div>

<p class= "middleplease"><a href="/profile/edit">Click here to Edit your Profile</a> or <a href="/">Return to the main page</a></p>